#allTheThings {
  width: 90%;
  max-width: 800px;
  text-align: center;
  margin: 8em auto;
  font-size: 1.3rem;
  color: #301602;
  display: block;
}

a{ 
	color: #301602;
	text-decoration: none;
}

#member{
	display: inline-block;
}

#verticalLine {
	display: inline-block;
	margin-left: 20px;/*設置左邊距為 20 像素*/
    /*border-left: solid #301602;/* 設置左邊框為實線，顏色為 #343642（深灰色）。*/
}

#librarian-link{
	margin-left: 20px;
}

#member {
	transition: all .5s ease-in-out;
	background-image: linear-gradient(120deg, #64553d 0%, #64553d 50%, rgb(230, 223, 215) 50%);
	background-size: 215%;
	background-position: 100%; /* 預設從右開始，對稱於 #librarian */
	transition: all .5s;
}

#librarian {
	background-image: linear-gradient(120deg, rgb(230, 223, 215) 0%, rgb(230, 223, 215) 50%, #64553d 50%);
	background-size: 215%;
	background-position: 0%; /* 預設從左開始 */
	transition: all .5s;
}

#member:hover {
	transform: scale(1.1);
	background-position: 0%; /* 滑鼠懸停時移到左上，對稱於 #librarian */
}

#librarian:hover {
	transform: scale(1.1);
	background-position: 100%; /* 滑鼠懸停時移到右上，對稱於 #member */
}